.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid black;
    margin-bottom: 10%;
    flex-wrap: wrap;
}

.image {
    width: 250px;
}

.text {
    width: 250px;
}

